<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weTravel App</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <div class="">
        <div id="app">
            <div class="title">Travel Planner</div>
            <div id="info">
                <form class="trip-input" onsubmit="return Client.handleSubmit(event)">
                    <!--input-->
                    <div class="input-box">
                        <label for="location">Where to go:</label>
                        <input type="text" id="location" placeholder="Enter location here...">
                    </div>
                    <div class="date">
                        <div class="input-box">
                            <label for="depart">Depart:</label>
                            <input type="date" id="depart" name="depart" required>
                        </div>
                        <div class="input-box">
                            <label for="return">Return:</label>
                            <input type="date" id="return" name="return" required>
                        </div>
                    </div>
                </form>
                <button id="generate" type="submit" onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)">add trip
                </button>
            </div>
            <div id="empty" class="empty">
                <div class="title">Oh! Looks empty...<br> Start your journey now!
                </div>
                <p>Get started by adding a trip.</p>
            </div>
            <div id="result" class="trip-info">
                <div id="picture" class="">
                </div>
                <div id="content">
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="centered">
    <p>Made with ❤ by Bitzilla</p>
</footer>

</body>
</html>