$primary-font: "Poppins", sans-serif;
$primary-color: #4F46E5;
$secondary-color: #343434;

body {
  background: #f3f3f3;
  font-family: $primary-font;
}

.input-box label {
  font-size: 1rem;
  justify-content: flex-start;
  align-items: start;
  color: $secondary-color;
  margin: 0 0 0.5rem 0;
}

.date, .trip-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/* IDs */
#app {
  display: grid;
  background: #f3f3f3;
  color: #fff;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: $primary-font;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  max-height: 460px;
  border-radius: 10px;
  padding: 40px;
}

#entryHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#error {
}

#name {
  color: $primary-color;
  font-size: 22px;
  margin: 0 0 10px 0;
}

#date {
  font-size: 16px;
  margin: 10px 0 10px 0;
}

#temp {
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.trip-content {
  font-size: 16px;
  margin: 10px 0;
}

#location {
  margin: 10px 0 20px 0;
  width: 40rem;
}

#depart, #return {
  width: 19rem;
}

#remove-trip {
  border: 2px solid $primary-color;
  background: none;
  color: $primary-color;
}

#remove-trip:hover {
  border: none;
  color: #f3f3f3;
  background: $secondary-color;
}

/* Tags */
/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
}

input {
  display: block;
  height: 40px;
  background: #f3f3f3;
  color: $secondary-color;
  font-size: 16px;
  font-family: $primary-font;
  border: none;
  border-radius: 8px;
  padding: 0 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background: $primary-color;
  color: #fff;
  font-size: 1rem;
  font-family: $primary-font;
  border: none;
  border-radius: 8px;
  margin: 30px 0 0 0;
}

button:hover {
  cursor: pointer;
  background: $secondary-color;
  color: #f3f3f3;
}

h1 {
  font-size: 36px;
}

footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  text-align: center;
}

/* Classes */
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.picture {
  width: 100%;
  height: auto;
  object-fit: cover
}

.title {
  color: $primary-color;
  font-size: 26px;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.trip-title {
  color: $primary-color;
  font-size: 26px;
  margin: 0.5rem 0 1rem 0;
  font-weight: bold;
}

.trip-text1 {
  font-size: 20px;
  margin: 0;
}

.trip-text2 {
  font-size: 16px;
  margin: 0;
  font-style: italic;
}

.trip-text-temp {
  font-size: 26px;
  margin: 0;
}

.trip-text3 {
  font-size: 20px;
  margin: 1rem 0;
}

.myInput {
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

.trip-info {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  min-height: 260px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #343434;
  margin: 2.5rem 0;
  padding: 1rem;
}

#result {

}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-radius: 10px;
  border: 1px dashed rgba(52, 52, 52, 0.4);
}

.empty .title {
  margin: 1rem 0;
}

.empty p {
  font-size: 1rem;
  color: $secondary-color;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: $primary-color;
  font-family: $primary-font;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primary-color;
  font-family: $primary-font;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primary-color;
  font-family: $primary-font;

}

@media (max-width: 740px) {

  #app {
    padding: 0 1rem;
  }

  #location {
    width: 19rem;
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    flex-direction: column;
    grid-template-columns: none;
  }

  .trip-info {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    grid-gap: 1rem;
  }
}

@media (max-width: 430px) {

  #info {
    padding: 20px;
  }
}

@media (max-width: 380px) {

  #depart, #return {
    width: 14rem;
  }

  #location {
    width: 14rem;
  }

}